@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: align with our theme manager */
:root { color-scheme: light dark; }
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
body {
  background-color: var(--color-neutral-50);
  color: var(--color-neutral-900);
}

.dark body {
  background-color: var(--color-neutral-950);
  color: var(--color-neutral-50);
}

